<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" src="js/angular.min.js"></script>
</head>
<body>
<div ng-app="" ng-init="dolar=5.15">
    <input type="text" ng-model="real">;
    <p>{{real}} reais= {{real / dolar}} dolar</p>
</div>
<!--<div ng-app="" style="background:{{cor}};">
    Qual é a cor: <input type="text" ng-model="cor" /><br>
</div>-->
<!--<div ng-app="">
    Nome: <input type="text" ng-model="nome" /><br>
    Sobrenome: <input type="text" ng-model="sobrenome" /><br><br>

    <p>{{ nome + " " + sobrenome }}</p>
</div>-->
</body>
</html>